* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/minecraft.ttf") format("truetype");
}

body.past {
  background-color: #111;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Minecraft", sans-serif;
}

.dialogueHistory {
  width: 25%;
  height: 100vh;
  float: left;
  border-right: 4px solid #efa37f;
  background-image: url(../assets/images/pastAssets/board.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.dialogueHistory h3 {
  padding: 15px;
  color: #ffffff;
  background-color: #4a372e;
  margin: 0;
  border-bottom: 2px solid #efa37f;
  text-align: center;
  font-size: 3vh;
  font-family: "Minecraft", sans-serif;
}

.dialogueContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2vh;
  font-family: "Minecraft", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.playerField,
.playerFieldLeft,
.playerFieldRight {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
}
.playerField {
  background-image: url(../assets/images/pastAssets/centerRoom/templeCenter.png);
}
.playerFieldLeft {
  background-image: url(../assets/images/pastAssets/leftRoom/templeLeft.png);
}
.playerFieldRight {
  background-image: url(../assets/images/pastAssets/rightRoom/templeRight.png);
}

.inventory {
  width: 25%;
  height: 100vh;
  float: left;
  background-color: #0d0d0d;
  border-left: 4px solid #efa37f;
  background-image: url(../assets/images/pastAssets/rings.png);
  background-size: 100%;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.inventory h3 {
  padding: 15px;
  color: #ffffff;
  background-color: #4a372e;
  margin: 0;
  border-bottom: 2px solid #efa37f;
  text-align: center;
  font-size: 3vh;
  font-family: "Minecraft", sans-serif;
}

.inventoryContent {
  flex: 1;
  position: relative;
  background-color: rgba(13, 13, 13, 0.5);
  width: 100%;
}
#inventorySlots {
  position: relative;
  width: 100%;
  height: 100%;
}
.slot {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slot img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#slot1 {
  top: 12.6%;
  left: 10%;
}
#slot2 {
  top: 12.6%;
  left: 69.5%;
}
#slot3 {
  top: 30.5%;
  left: 40%;
}
#slot4 {
  top: 47%;
  left: 11%;
}
#slot5 {
  top: 47%;
  left: 70%;
}

#crystalSpot,
#bowSpot,
#crateSpot,
#stoneSpot,
#urnSpot,
#floorSpot {
  position: absolute;
  width: 120px; /* I NEEDED to make this into 120, else it was too damn small for my eyes to even see bruh */
  height: 120px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s;
  object-fit: contain;
}

#crystalSpot:hover,
#bowSpot:hover,
#crateSpot:hover,
#stoneSpot:hover,
#urnSpot:hover,
#floorSpot:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px cyan);
}

#crystalSpot {
  top: 60%;
  left: 42%;
}
#bowSpot {
  top: 60%;
  left: 20%;
}
#crateSpot {
  top: 70%;
  left: 42%;
}
#stoneSpot {
  top: 62%;
  left: 17%;
}
#urnSpot {
  top: 70%;
  left: 18%;
}
#floorSpot {
  top: 75%;
  left: 52%;
}

#hopperMachine {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  cursor: pointer;
}
#gremlin {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  z-index: 5;
}

.buttonLeft,
.buttonRight {
  bottom: 20px;
  position: absolute;
  padding: 15px 30px;
  background-color: #4b0082;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  text-decoration: none;
  z-index: 20;
  border: 2px solid #efa37f;
  font-family: "Minecraft", sans-serif;
}
.buttonLeft {
  left: 20px;
}
.buttonRight {
  right: 20px;
}

#optionsContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.btnDecisionOptions {
  padding: 15px 30px;
  background-color: #4a372e;
  color: #efa37f;
  border: 3px solid #efa37f;
  font-family: "Minecraft", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
