* {
  margin: 0;
  padding: 0;
}

body.present {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.dialogueHistory {
  width: 25%;
  height: 100vh;

  float: left;

  font-size: 40px;
  font-family: dialogueFont;
}

@font-face {
  font-family: dialogueFont;
  src: url(../assets/fonts/minecraft.ttf); 
}

.playerField {
  background-image: url(../assets/images/presentAssets/labCenter.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  display: inline-block;
  position: relative;
}

.playerFieldLeft {
  background-image: url(../assets/images/presentAssets/leftRoom/labLeft.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  display: inline-block;
  position: relative;
}

.playerFieldRight {
  background-image: url(../assets/images/presentAssets/rightRoom/labRight.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  display: inline-block;
  position: relative;
}

.inventory {
  width: 25%;
  height: 100vh;
  float: right;
}

.buttonLeft {
  bottom: 0;
  left: 0;
  position: absolute;

  padding: 30px 40px;
  background-color: #4b0082;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  text-decoration: none;
}

.buttonRight {
  bottom: 0;
  right: 0;
  position: absolute;

  padding: 30px 40px;
  background-color: #4b0082;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  text-decoration: none;
}

.buttonLeft:hover {
  background-color: #7b1fa2;
}

.buttonRight:hover {
  background-color: #7b1fa2;
}

img.Hopper_Device_Broken
{
  height: 50%;
  right: 32%;
  top: 17%;
  margin-right: auto;
  position: absolute;
}

img.Professor
{
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.machine
{
  height: 40%;
  width: 20%;
  right: 39%;
  top: 22%;
  margin-right: auto;
  position: absolute;
  background-color: transparent;
  border: none;
}