* {
  margin: 0;
  padding: 0;
}

body.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/startBackground.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px black;
}

p {
  font-size: 20px;
  text-shadow: 0 0 10px black;
}

.startButton {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 40px;
  background-color: #4b0082;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  text-decoration: none;
}

.startButton:hover {
  background-color: #7b1fa2;
  cursor: pointer;
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  width: 30%;
  height: auto;
  min-height: 55%;
  padding: 3rem 2rem;

  background: linear-gradient(
    180deg,
    rgba(45, 20, 85, 0.95),
    rgba(20, 10, 40, 0.98)
  );
  border: 3px solid #ffc107;
  border-radius: 15px;

  box-shadow: 0 0 20px rgba(255, 193, 7, 0.3), 0 15px 40px rgba(0, 0, 0, 0.8);

  color: #ffffff;
}

.popupContent,
.popupContentSignup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupContent h1,
.popupContentSignup h1 {
  margin-top: 0;
  color: #ffc107;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.popupContent form,
.popupContentSignup form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  row-gap: 1.5rem;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.popupContent label,
.popupContentSignup label {
  color: #ffc107;
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
}

.popupContent input,
.popupContentSignup input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #5a3b8c;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.5rem;
}

.btnLogin {
  grid-column: 1 / -1;
  justify-self: center;

  background-color: #ffc107;
  color: #2e004b;
  border: none;
  padding: 15px 40px;
  margin-top: 1rem;

  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.4);
  cursor: pointer;
}

.btnGuest {
  background-color: #ffc107;
  color: #2e004b;
  border: none;
  padding: 10px 35px;
  margin-top: 1rem;

  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.4);
  cursor: pointer;
}

.btnLogin:hover,
.btnGuest:hover {
  background-color: #fff;
  color: #d84315;
  box-shadow: 0 10px 25px rgba(255, 193, 7, 0.6);
}

.signUp {
  background: transparent;
  border: none;
  color: #dcd6e9;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
}
